.list{

    &__title{
        margin-left: $padding-small;

        @media screen and (min-width: $screen-xs-min) {
            margin-left: $padding-medium;

        }

        @media screen and (min-width: $screen-md) {
            margin-left: $padding-large;
        }
    }

    &-wrapper {
        background-color: $gray-lighter;
        width: 100%;
        position: relative;

        &--notStacked{

        }

        .list-view {
            background: $white;
            margin-bottom: 0;
            display: table;
            border-collapse: collapse;
            width: 100%;

            &__header{
                border-top: 1px solid $gray;
                width: 100%;
                padding: $padding-small;
                position: relative;

                &--tabs{
                    border-top: none;
                }

                    @media screen and (min-width: $screen-xs-min) {
                        padding: $padding-medium;
                    }

                    @media screen and (min-width: $screen-md) {
                        display: table-row;
                        height: 46px;
                        padding: $padding-large;
                    }

                &__cell {
                    color: $gray-light;
                    text-transform: uppercase;
                    font-size: 0.75em;
                    padding: 5px 0;

                    &--action{
                        position: absolute;
                        top: 10px;
                        right: $padding-small;

                        @media screen and (min-width: $screen-xs-min) {
                            right: $padding-medium;
                        }

                        @media screen and (min-width: $screen-md) {
                            position: initial;
                            text-align: right;
                        }

                    }

                    @media screen and (min-width: $screen-md) {
                        display: table-cell;
                        padding: $padding-medium $padding-large;
                    }

                }
            }

            &__body{

                &__row{
                    position: relative;
                    border-top: 1px solid $gray;
                    width: 100%;
                    padding: $padding-small $padding-medium;

                    @media screen and (min-width: $screen-md) {
                        display: table-row;
                        height: 73px;
                        padding: $padding-small;
                    }
                }

                &__cell {
                    padding: 5px 0;
                    vertical-align: middle;

                    @media screen and (min-width: $screen-md) {
                        display: table-cell;
                        padding: $padding-small $padding-large;
                    }

                    &--date{
                        @media screen and (max-width: $screen-md) {
                            color: $gray-light;
                        }
                    }

                    &--desc{
                        @media screen and (max-width: $screen-md) {
                            color: $gray-light;
                            font-style: italic;
                        }
                    }

                    &--status {

                        @media screen and (max-width: $screen-md) {
                            padding: 0;
                            width: 3px;
                            height: 100%;
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                         @media screen and (min-width: $screen-md) {
                            border: 1px solid;
                            padding: 5px $padding-small;
                            @include border-radius($border-radius);
                        }

                        > span {
                             @media screen and (max-width: $screen-md) {
                                width: 3px;
                                height: 100%;
                                display: block;
                            }
                        }

                        &.open, &.send {
                            background: $green;

                            @media screen and (min-width: $screen-md) {

                                background: none;
                                color: $green;
                                border-color: $green;
                            }
                        }
                        &.closed {
                            background: $red;

                            @media screen and (min-width: $screen-md) {
                                background: none;
                                color: $red;
                                border-color: $red;
                            }
                        }
                    }

                    &--action {
                        text-align: right;
                        position: relative;

                        @media screen and (max-width: $screen-md) {
                            display: inline;
                            float: right;
                            width: 20%;
                            position: absolute;
                            top: 35%;
                            right: 10px;
                            padding:0;
                        }

                        &.open{

                            a{
                                color: $red;
                            }
                        }

                        a{
                            font-size: 1em;
                            color: $blue;
                            text-decoration: none;

                            &:hover{
                                color: $red;
                            }
                        }
                    }
                }
            }


        }
    }
}